
ul {list-style-type: none;
background-color:#b0c4de}

li {display:inline
    ; padding: 10px; 
    margin: 10px ;
    font-size: large;
    }
    
    
    li:hover {filter:blur(10px);}

 body{background-color:chocolate;
background-image: linear-gradient(90deg, #87cefa, #98ff98);}
  

img.inazauma {object-fit:cover ;
    width: 350.5px ;
    height: 350.5px;
    border-radius: 100% ;
filter:blur(0px); 
border: black;}

p {font-size:30px ;
    font-family: cursive;}
table {font-size: 30px;
margin:10px ;
padding: 10px; ;
background-color: cornflowerblue;
background-image: linear-gradient(180deg, cornflowerblue, #7b68ee);
border-color: #62bffd;}
